@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:400,700);


* {
	-webkit-font-smoothing: antialiased;`
}

html {
	background-color:#000;
}

body {
	overflow:hidden;
}

.header {
	font-family:'Cabin Condensed';
	font-weight: 700;
	font-size: 124px;
	color:#fff;
	text-align:center;
	height: 200px;
	width: 800px;
	margin: 0 auto;

	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -100px;
	position: absolute;
}

.header h1 {
	line-height: 180px;
}

.header p {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 36px;
}
.header u {
	text-decoration: none;
	font-size: 41px;
	font-weight: 800;
}

.wrapper {
	width:960px;
	margin:0 auto;
	font-family:'Cabin';
}

.front {
	z-index:2;
	position:absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;

}

.video {
	position:absolute;
	left:-25%;
	top:0;
	bottom:0;
	z-index:0;
	width:150%;
}

.search {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width:240px;
	border-radius:20px;
	padding:10px;
	border:0px;
}

.create {
	position: absolute;
	left: 20px;
	bottom: 20px;
	width:320px;
	padding:15px 20px;
	text-align:center;
	font-family:'Cabin';
	font-weight:700;
	font-size:36px;
	background-color:#F7585C;
	border-radius:5px;
	border:none;
	color:#fff;
}