@import url(http://fonts.googleapis.com/css?family=Cabin);

* {
	-webkit-font-smoothing: antialiased;`
}

html {
	background-color:#000;
}

.header {
	font-family:'Cabin';
	font-weight:bold;
	font-size:48px;
	color:#fff;
	text-align:center;
	background-color:#F7585C;
}

.wrapper {
	width:960px;
	margin:0 auto;
	font-family:'Cabin';
}