<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jamathon: {%block title %}{% endblock %}</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="/media/jquery.fitvids.js"></script>

        <script type="text/javascript" src="http://connect.soundcloud.com/2/latest.min.js"></script>
        <script type="text/javascript" src="/media/recorder.js/recorder.js"></script>
        
        <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,900italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" type="text/css" href="/media/css/screen.css">
        {% block extra_head %} {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
