{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block extra_head %}
{% endblock %}

{% block content %}
<div id="circles">
	<div id="header">
		<div id="header-text">
			<h5>jamcircle</h5>
		</div>
		<div id="header-title" class="cf">
			<h1>History of Heavy Metal PS109</h1>
			<h2><div class="line"></div>08</h2>
			<h2><div class="line"></div>28</h2>
		</div>
	</div>
	<ul id="introduction" class="cf">
		<li>
			<h1>Description:</h1>
			<p>Create a grungy melody or rap that explores the history of heavy metal. In class we discussed the relevance of <a href="#">Gene Simmons</a> and other contemporaries.</p>
		</li>
		<li>
			<h1>Inspiration:</h1>
			<ul>	
				<li>
					<i class="icon-youtube icon-large"></i>
					<a href="#">KISS - I Wanna Rock N Roll All Night (1996)
					</a>
				</li>
				<li>
					<i class="icon-link icon-large"></i>
					<a href="http://en.wikipedia.org/wiki/Kiss_(band)">Wikipedia 'KISS'
					</a>
				</li>
				<li>
					<i class="icon-play-sign icon-large"></i>
					<a href="#">'Detroit Rock City' - Kiss (on spotify)
					</a>
				</li>
			</ul>	
		</li>
	</ul>
</div>
{% endblock content %}
