{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block extra_head %}
{% endblock %}

{% block content %}
<div id="homepage">
	<div class="video-container">
		<div class="front">
			<div class="header">
				<span class="headerContent">
					<h1>jamcircle</h1>
					<p>unleash your inner <u>justin bieber</u></p>
				</span>
			</div>
			<input type="text" placeholder="Search" class="search"/>
			<a href="circle/create"><button type="submit" class="create">Create Circle</button></a>
		</div>
		<div style="width:100%;height:100%;">
			<iframe class="video" width="100%" height="100%" src="http://www.youtube.com/embed/CzDFI0io8ic?rel=0&autoplay=1&controls=0&showinfo=0&loop=1" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="stream">
		<div class="stream-header">Join an existing Circle</div>
		{% for circle in circles %}
		<div class="room" style="background-image:url({{ circle.background_image }});">
			<div class="room-title">{{ circle.title }}</div>
			<button class="join">Join Circle</button>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
