{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block extra_head %}
{% endblock %}

{% block content %}
<div id="homepage">
	<div class="video-container">
		<div class="front">
			<div class="header">
				<span class="headerContent">
					<h1>jamcircle</h1>
					<p>unleash your inner <u>justin bieber</u></p>
				</span>
			</div>
			<input type="text" placeholder="Search" class="search"/>
			<button type="submit" class="create">Create Room</button>
		</div>
		<iframe class="video" width="960" height="720" src="http://www.youtube.com/embed/CzDFI0io8ic?rel=0&autoplay=1&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="stream">
		
	</div>
</div>
{% endblock content %}
