html {
	background-color:#D6D6D6
}

#homepage {

	.header {
		font-weight: 700;
		font-size: 124px;
		color:#fff;
		text-align:center;
		height: 200px;
		width: 800px;
		margin: 0 auto;

		top: 50%;
		left: 50%;
		margin-left: -400px;
		margin-top: -100px;
		position: absolute;

		h1 {
			font-family:'Cabin Condensed';
			font-weight:bold;
		}

		p {
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;
			font-size: 36px;
		}

		u {
			text-decoration: none;
			font-size: 41px;
			font-weight: bold;
		}
	}

	.wrapper {
		width:960px;
		margin:0 auto;
		font-family:'Cabin';
	}

	.front {
		z-index:2;
		position:absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 100%;

	}

	.video {
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		z-index:0;
		border-bottom:4px solid #444;
	}

	.search {
		position: absolute;
		right: 20px;
		bottom: 20px;
		width:320px;
		border-radius:20px;
		border-radius:0px;
		padding:10px;
		border:0px;
		height:40px;
	}

	.create {
		position: absolute;
		left: 20px;
		bottom: 20px;
		width:320px;
		padding:15px 20px;
		text-align:center;
		font-family:'Cabin';
		font-weight:700;
		font-size:36px;
		background-color:#F7585C;
		border-radius:5px;
		border-radius:0px;
		border:none;
		color:#fff;
	}

	.create:hover {
		opacity:.75;
		cursor:pointer;
	}

	.search:focus, .search:active {
	    outline: none !important;
	}

	.stream {
		width:960px;
		margin:0 auto;
	}

	.room {
		font-family:'Source Sans Pro';
		font-weight:bold;
		width:460px;
		margin:10px;
		float:left;
		font-size:36px;
		position:relative;
		height:320px;
		background-size:cover;
		background-position:center center;
		color:#fff;
	}

	.room-title {
		font-weight:bold;
		padding:12px;
		background-color:rgba(0,0,0,.6);
	}

	.join {
		float:right;
		background-color:#F7585C;
		border:none;
		color:#fff;
		font-family:'Cabin';
		padding:10px 20px;
		font-size:24px;
		cursor:pointer;
		position:absolute;
		bottom:20px;
		right:20px;
	}

}